.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.login{
  margin: 7vh 55vh;
  border: 1px solid black;
  width: 90vh;
  padding: 20vh;
  border-radius: 20%;
  font-size: larger;
  font-family: Rubik Maps;
}

.contactMe{
  width: 10vh;
}

.back-to-top{
  position: fixed;
  width: 5vh;
  right: 15vh;
  z-index: 1000;
  cursor: pointer;
}

.pPic{
  width: 6vh;
  border-radius: 50%;
}

.linkItem{
  text-decoration: none;
  color: white;
}

.banner{
  height: 90vh;
}

.myError{
  font-size: smaller;
  color: red;
}

.inp{
  width: 55vh;
}

.foot{
  font-family: monospace;
  font-size: smaller;
}

.icon{
  width: 3vh;
}

.navBar{
  background-color: #282c34;
}

.options{
  margin-right: 190vh;
  cursor: pointer;
  width: 7vh;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
