.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.login{   /*change size of login section*/
  margin: 7vh 55vh;
  border: 1px solid black;
  width: 90vh;
  padding: 20vh;
  border-radius: 20%;
  font-size: larger;
  font-family: Rubik Maps;
}

.myImg{   /*control size and location of info icon*/
  margin-left: 180vh;
  width: 40px;
  cursor: pointer;
}

.contactMe{   /*control size of contact me images*/
  width: 10vh;
}

.pPic{   /*size of profile picture on navigation bar*/
  width: 6vh;
  border-radius: 50%;
}

.linkItem{    /*change words in navigation bar to look less like a link*/
  text-decoration: none;
  color: white;
}

.banner{    /*size of banners on home page*/
  height: 90vh;
}

.myError{    /*color and size of error text*/
  font-size: smaller;
  color: red;
}

.inp{    /*size of input element*/
  width: 55vh;
}

.foot{     /**/
  font-family: monospace;
  font-size: smaller;
}

.icon{   /*size of icons on the navogation bar*/
  width: 3vh;
}

.navBar{    /*color of navigation bar*/
  background-color: #282c34;
  padding: 15px;
  background-color: rgba(128, 128, 128, 0.89);
  color: white;
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  width: 215vh;
}

.options{
  margin-right: 190vh;
  cursor: pointer;
  width: 7vh;
  
}


@media (max-width: 768px){  /*query for if sceen is made shorter*/
  .queryNav .navBar{
    width: 155vh;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
